      body {
        font-family: 'Lato', sans-serif;
        overflow-x: hidden;
      }

      #main-logo {
        margin-left: 70px;
        margin-top: 25px;
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .navbar {
        cursor: pointer;
        padding: 8px;
        margin-left: 30px;
        border-radius: 20px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: 0.3s;
      }

      .navbar:hover {
        background:#fc9f00;
      }

	.navbar a {
		text-decoration: none;
		color: black;
	}

      .navbar2 {
        cursor: pointer;
        color: white;
        padding: 8px;
        margin-left: 30px;
        border-radius: 20px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: 0.3s;
      }

      .navbar2:hover {
        background:#ffffff;
        color: #fc9f00;
      }

      #warning {
        margin-left: -8px;
        padding: 10px;
        color: white;
        background: #800080;
      }

      .header {
        background: #fc9f00;
        padding:15px;
        height:25px;
        margin-left: -8px;
        width:103%;
      }

      .doc_img {
        width: 30em;
        float: right;
        margin: 20px;
      }

      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }

      .myButton {
          width: 9em;
          cursor: pointer;
          height: 3em;
          border: none;
          border-radius: 0.5em;
          color: white;
          font-weight: bold;
          background: #0087f3;
          transition: 0.3s;
      }

	.myButton:hover {
		background: #0271cc;
	}
